
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
	<div class="row">
		<h2>Registro de Productos</h2>
	</div>
    <form class="form-horizontal">
<fieldset>

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Registro</legend>

<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="nombre">Id</label>  
    <div class="col-md-4">
    <input id="Id" name="Id" type="number" placeholder="Identificacion" class="form-control input-md" required = "">
    </div>
  </div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nombre">Nombre de el  Producto</label>  
  <div class="col-md-4">
  <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control input-md" required = "">
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
    <label class="col-md-4 control-label" for="notas">Caracteristicas de el producto </label>
    <div class="col-md-4">                     
      <textarea class="form-control" id="notas" name="caracteristicas" placeholder="Caracteristicas"  required = ""></textarea>
    </div>
  </div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="correo">Fecha de Lanzamiento</label>  
  <div class="col-md-4">
  <input id="correo" name="fecha" type="date" placeholder="Fecha" class="form-control input-md" required = "">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="correo">Correo de el Fabricante </label>  
  <div class="col-md-4">
  <input id="telefono" name="correo" type="email" placeholder="correo" class="form-control input-md" required = "">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="pais">Pais de Fabricante </label>  
    <div class="col-md-4">
        <select class="form-control input-md"  (change)="changePais($event)" name="dd" formControlName="paisNombre">
            <option value="" disabled>Selecciona el Pais</option>
            <option *ngFor="let pais of paises" [value]="pais.alpha3Code">{{pais.name}}</option>
         </select>
    
    </div>
  </div>

<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="precio">Precio de el Producto </label>  
    <div class="col-md-4">
    <input id="telefono" name="precio" type="number" placeholder="Precio" class="form-control input-md" required = "">
    </div>
  </div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="guardar"></label>
  <div class="col-md-4">
    <button  type="submit"  id="guardarproducto" name="guardar" class="btn btn-primary">Guardar Producto</button>
    <button type="reset" id="reset" name="reset" class="btn btn-danger">Reset</button>

  </div>
</div>



</fieldset>
</form>


